section.mt-5(style="margin-bottom: 200px;")
	.container
		.row.justify-content-center
			form.col-md-5(action="/api/request-call" method="get")
				.mb-3
					label.form-label(for="name") First name and last name
					input.form-control(
						type="text"
						id="name"
						name="name"
						placeholder="Иван Васильевич"
						required
					)
				.mb-3
					label.form-label(for="name") Mail
					input.form-control(
						type="email"
						id="mail"
						name="email"
						placeholder="my.name@gmail.com"
						required
					)
				.mb-3
					label.form-label(for="name") Phone namber
					input.form-control(
						type="text"
						id="phone"
						name="phone"
						placeholder="+x(xxx)-xxx-xx-xx"
						required
					)

				button.btn.btn-success.w-100(type="submit") Send request
